.app {
  display: flex;
  height: 100%;  /* Ocupa toda a altura da tela */
  width: 100%;
  position: relative;
}

.main-content {
  flex-grow: 1;
  /* padding: 10px; */
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 300px;
  margin-right: 300px;
}

