/* .header {
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 20px;
    

  }
  
  /* .header-button {
    background-color: #a83eff;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Oswald", sans-serif;
  }
  
  .header-button:hover {
    background-color: #ffffff;
    color: #a83eff;
  }
   */ 