.feed {
    flex-grow: 1;
    overflow-y: auto;  /* Permite rolagem se houver muitos posts */
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
  }
  ::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
  }
  