.explore {
  padding: 20px;
  margin-left: 20%;
}

.explore-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.drink-card {
  background-color: #333;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.drink-card:hover {
  transform: scale(1.05);
}

.drink-card-image {
  width: 100%;
  border-radius: 5px;
  height: auto; /* Mantém a proporção da imagem */
}

.drink-details {
  margin-top: 20px;
  background-color: #444;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.drink-large-image {
  width: 1000px;
  height: 643px;
}

button {
  padding: 10px 15px;
  background-color: #a071e1;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 10px; /* Espaço acima do botão */
}

button:hover {
  background-color: #8a60c1;
}
